.commits {
    &__list {
        height: 700px;
        overflow-y: auto;
    }
    &__container {
        margin: 20px 38px;
    }
}

.commit {
    display: flex;
    justify-content: space-between;

    &__container {
        margin: 12px 0;
    }

    &__info {
        font-weight: bold;

        span {
            margin: 0 10px;
            font-weight: normal;
            color: gray;
        }
    }

    &__message {
        margin-top: 12px;
        padding: 16px;
        background-color: #f6f7f6;
    }
}
